{{#if isRoute}}
  {{#if target}}
    {{#link-to link class=cssClass target=target}}
      {{yield}}{{label}}
    {{/link-to}}
  {{else}}
    {{#link-to link class=cssClass}}
      {{yield}}{{label}}
    {{/link-to}}
  {{/if}}
{{else}}
  <a href="{{link}}" class="{{cssClass}}" target="{{target}}">{{yield}}{{label}}</a>
{{/if}}
